
{% extends 'layout.html.twig' %}

{% block title %}{{ name }}{% endblock %}

{% block info %}
    {% for info in infos %}
        {{ info }}
    {% endfor %}
{% endblock %}

{% block h1 %}
    {% block cardName %}
        {{ name }}
    {% endblock %}
{% endblock %}


{% block content%}

<div class="container card__single">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-3">
            {#<img src="img/cards/c16-143-burgeoning.jpg" class="card__single_img" alt="magic card">#}
            <img src="{{ image_uris }}" class="card__single_img" alt="magic card">
        </div>
        <div class="col">
            <div class="col">
                <div class="row justify-content-between">
                    <div class="col-4">
                        <p class="card__single_title">rarity: {{ rarity }}</p>
                    </div>
                    <div class="col-3">
                        <button name="cards__add_to_deck" type="button" class="btn btn_1 btn-outline-success cards__add_to_deck" value="{{ card['id'][0] }}">add to deck</button>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col">
                        <p class="card__single_title">colors:</p>
                    </div>
                    {% for col in color  %}
                        <div class="col">
                            <img class="color__img" src="img/{{ color }}.png" alt="">
                        </div>
                    {% endfor %}
                    <div class="col">{{ color  }}
                        <img src="img/blue.png" class="color__img" alt="">
                    </div>
                    <div class="col">
                        <img src="img/green.png" class="color__img" alt="">
                    </div>
                    <div class="col">
                        <img src="img/red.png" class="color__img" alt="">
                    </div>
                    <div class="col">
                        <img src="img/white.png" class="color__img" alt="">
                    </div>
                    <div class="col">
                        <img src="img/black.png" class="color__img" alt="">
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col">
                        <p class="card__single_title">cmc:</p>
                        <p>{{ cmc }}</p>
                    </div>
                    <div class="col">
                        <p class="card__single_title">mana cost:</p>
                        <p>{{ mana_cost }}</p>
                    </div>
                    <div class="col">
                        <p class="card__single_title">power:</p>
                        <p>{{ power }}</p>
                    </div>
                    <div class="col">
                        <p class="card__single_title">toughness:</p>
                        <p>{{ toughness }}</p>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col">
                        <p class="card__single_title">type:</p>

                        <p>{{ type_line }}</p>
                    </div>
                    <div class="col">
                        <p class="card__single_title">language:</p>
                        <p>{{ lang  }}</p>
                    </div>
                    <div class="col">
                        <p class="card__single_title">set name:</p>
                        <p>{{ set_name  }}</p>
                    </div>
                    <div class="col">
                        <button class="btn_1 btn btn-outline-warning">
                            <a href="{{ scryfall_uri }}" target="_blank">scryfall</a>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="card__single_title">oracle text:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ oracle_text }}
                    </div>
                </div> <br>
                <div class="row justify-content-between">
                    <div class="col">
                        <p class="card__single_title">Legalities:</p>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col">
                        <p class="card__single_title_colorless">standart:</p>
                        <p>legal</p>
                        <p class="card__single_title_colorless">future:</p>
                        <p>not_legal</p>
                        <p class="card__single_title_colorless">historic:</p>
                        <p>not_legal</p>
                        <p class="card__single_title_colorless">gladiator:</p>
                        <p>not_legal</p>
                    </div>
                    <div class="col">
                        <p class="card__single_title_colorless">pioneer:</p>
                        <p>not_legal</p>
                        <p class="card__single_title_colorless">modern:</p>
                        <p>not_legal</p>
                        <p class="card__single_title_colorless">legacy:</p>
                        <p>not_legal</p>
                        <p class="card__single_title_colorless">pauper:</p>
                        <p>not_legal</p>
                    </div>
                    <div class="col">
                        <p class="card__single_title_colorless">vintage:</p>
                        <p>not_legal</p>
                        <p class="card__single_title_colorless">penny:</p>
                        <p>not_legal</p>
                        <p class="card__single_title_colorless">commander:</p>
                        <p>not_legal</p>
                        <p class="card__single_title_colorless">brawl:</p>
                        <p>not_legal</p>
                    </div>
                    <div class="col">
                        <p class="card__single_title_colorless">duel:</p>
                        <p>legal</p>
                        <p class="card__single_title_colorless">pioneer:</p>
                        <p>not_legal</p>
                        <p class="card__single_title_colorless">oldschool:</p>
                        <p>not_legal</p>
                        <p class="card__single_title_colorless">premodern:</p>
                        <p>not_legal</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

