

{% extends 'layout.html.twig' %}

{% block title %}Cards{% endblock %}

{% block info %}
    {% for info in infos %}
        {{ info }}
    {% endfor %}
{% endblock %}

{% block h1 %}
    Cards
{% endblock %}



{% block content %}
    <div class="container cards__many">
        <form action="index.php?p=cards&method={{ cards_user_all[0] }}" id="search__cards_form">
        <div class="row justify-content-between">
            <div class="col">
                <p class="title_colorless">search card by name:</p>
                    <input id="card__name" name="search_text_card" class="form-control mr-sm-2" type="search" placeholder="card name" aria-label="search">

                <p class="title_colorless">search creature:</p>
                    <input id="card__creature" name="search_text_creature" class="form-control mr-sm-2" type="search" placeholder="creature" aria-label="search">

            </div>
            <div class="col">
                        <div class="cards__many_filter">
                            <div id="card__color" class="checkbox color__picker">
                                <p class="title_colorless">colors:</p>
                                {% for color in colors[0] %}
                                    <label>
                                        <input type="checkbox" name="color[]" value="{{ color['id'] }}">
                                        {{ color['color'] }}
                                    </label><br>
                                {% endfor %}
                            </div>

                            <label for="card__legality">legality in deck:</label>
                            <select id="card__legality" name="legality">
                                <option value="all">all</option>
                                {% for format in formats[0] %}
                                    <option value="{{ format['id'] }}" name="format[]">{{ format['format'] }}</option>
                                {% endfor %}
                            </select>

                            <label for="card__set">Edition:</label>
                            <select id="card__set" name="set">
                                <option value="0">all</option>
                                {% for set in sets[0] %}
                                    <option value="{{ set['id'] }}" name="format[]">{{ set['set_name'] }}</option>
                                {% endfor %}
                            </select>
                        </div>

                <button class="btn btn_1 btn-outline-success my-2 my-sm-0" type="submit">search My cards</button>
            </div>
        </div>
    </form>
        <div>
            <p>Found <span class="title_warn" id="search__card_count"> {{ cards_count[0] }} </span> Cards</p>
        </div>
        <div class="row justify-content-between cards__many_cards" id="search__card_result">
            {% for  card in cards %}
                <div class="col">
                    <article>
                        <div class="row">
                            <p class="cards__many_cards_title">{{ card['name'][0] }}</p>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col">
                                {% if cards_user_all[0] == 'search'  %}
                                    <button class="btn btn_1 btn-outline-success" value="{{ card['id'][0] }}"> + my cards</button>
                                {% endif %}
                                <button class="btn btn_1 btn-outline-success" value="{{ card['id'][0] }}"> add to deck</button>
                            </div>
                        </div>
                        <img class="cards__many_cards_img" src="{{ card['image_uris'][0] }}" alt="magic deck">
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="js/searchCards.js"></script>
{% endblock %}
