
{% for  card in cards %}
     <h1> {{ name }}</h1>
    <div class="row card__single">
        <div class="col-12 col-sm-12 col-md-4 col-lg-3">
            <img src="{{ image_uris }}" class="card__single_img img-fluid" alt="magic card">
        </div>
        <div class="col">
            <div class="col">
                <div class="row justify-content-between">
                    <div class="col-4">
                        <p class="card__single_title">rarity: {{ rarity }}{{ card['name'][0][0] }}</p>
                    </div>
                    <div class="col-3">
                        <button name="cards__add_to_deck" type="button" class="btn btn_1 btn-outline-success cards__add_to_deck" value="{{ id }}">
                            add card to Deck
                        </button>
                        {% if userId %}
                            <button name="delete_user_card" class="btn btn_1 btn-outline-info" value="{{ id }}">X</button>
                        {% endif %}
                        <button name="finished" class="btn btn_1 btn-outline-secondary">close</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="card__single_title">colors:</p>
                        {% for color in card['colors'] %}
                            <img class="color__img img-fluid" src="img/{% if color %}{{ color }}{% else %}nocolor{% endif %}.png" alt="image of this color">
                        {% endfor %}
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col">
                        <p class="card__single_title">cmc:</p>
                        <p>{{ cmc }}</p>
                    </div>
                    <div class="col">
                        <p class="card__single_title">mana cost:</p>
                        <p>{{ mana_cost }}</p>
                    </div>
                    <div class="col">
                        <p class="card__single_title">power:</p>
                        <p>{{ power }}</p>
                    </div>
                    <div class="col">
                        <p class="card__single_title">toughness:</p>
                        <p>{{ toughness }}</p>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col">
                        <p class="card__single_title">type:</p>
                        <p>{{ type_line }}</p>
                    </div>
                    <div class="col">
                        <p class="card__single_title">language:</p>
                        <p>{{ lang  }}</p>
                    </div>
                    <div class="col">
                        <p class="card__single_title">set name:</p>
                        <p>{{ card['set_name'][0] }}</p>
                    </div>
                    <div class="col">
                        <button class="btn_1 btn btn-outline-warning">
                            <a href="{{ scryfall_uri }}" target="_blank">scryfall</a>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="card__single_title">oracle text:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ oracle_text }}
                    </div>
                </div> <br>
                <div class="row justify-content-between">
                    <div class="col">
                        <p class="card__single_title">Legalities:</p>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col">
                        <p class="card__single_title_colorless">standard:</p>
                        <p>{{ card['standard'][0] }}</p>
                        <p class="card__single_title_colorless">future:</p>
                        <p>{{ card['future'][0] }}</p>
                        <p class="card__single_title_colorless">historic:</p>
                        <p>{{ card['historic'][0] }}</p>
                        <p class="card__single_title_colorless">gladiator:</p>
                        <p>{{ card['gladiator'][0] }}</p>
                    </div>
                    <div class="col">
                        <p class="card__single_title_colorless">pioneer:</p>
                        <p>{{ card['pioneer'][0] }}</p>
                        <p class="card__single_title_colorless">modern:</p>
                        <p>{{ card['modern'][0] }}</p>
                        <p class="card__single_title_colorless">legacy:</p>
                        <p>{{ card['legacy'][0] }}</p>
                        <p class="card__single_title_colorless">pauper:</p>
                        <p>{{ card['pauper'][0] }}</p>
                    </div>
                    <div class="col">
                        <p class="card__single_title_colorless">vintage:</p>
                        <p>{{ card['vintage'][0] }}</p>
                        <p class="card__single_title_colorless">penny:</p>
                        <p>{{ card['penny'][0] }}</p>
                        <p class="card__single_title_colorless">commander:</p>
                        <p>{{ card['commander'][0] }}</p>
                        <p class="card__single_title_colorless">brawl:</p>
                        <p>{{ card['brawl'][0] }}</p>
                    </div>
                    <div class="col">
                        <p class="card__single_title_colorless">duel:</p>
                        <p>{{ card['duel'][0] }}</p>
                        <p class="card__single_title_colorless">pioneer:</p>
                        <p>{{ card['pioneer'][0] }}</p>
                        <p class="card__single_title_colorless">oldschool:</p>
                        <p>{{ card['oldschool'][0] }}</p>
                        <p class="card__single_title_colorless">premodern:</p>
                        <p>{{ card['premodern'][0] }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}


