{% extends 'layout.html.twig' %}


{% block title %}ForgotPw{% endblock %}

{% block info %}
    {% for info in infos %}
        {{ info }}
    {% endfor %}
{% endblock %}


{% block content %}

    <div class="container login">
        <div class="row justify-content-between">

            <div class="col-0 col-md-1 login__space_pw">

            </div>
            <div class="col-11 col-lg-11 login__register">
                <form id="forgotpw__form" action="index.php?p=forgotPw" method="POST">
                    <div class="row justify-content-between">
                        <div class="col">
                            <h2>Forgot Password</h2>
                        </div>
                        <div class="col-2">
                            <img src="img/red.png" class="login__img" alt="image fire red">
                        </div>
                    </div>
                    <input type="hidden" name="forgotPw" value="1">
                    <div class="form-group row">
                        <label for="name" class="col col-form-label title_colorless">name:</label>
                        <input
                                type="text"
                                name="name"
                                class="form-control {% if errorMessages['name'][0] %} has_error {% endif %}"
                                id="name"
                                placeholder="kate"
                                value="{{ values['name'][0] }}">
                        <p class="error_message">{{ errorMessages['name'][0] }}</p>
                    </div>
                    <input type="hidden" name="login_try" value="1">
                    <div class="form-group row">
                        <label for="favourite_card" class="col col-form-label title_colorless">favorite card:</label>
                        <input
                                type="text"
                                name="favourite_card"
                                class="form-control {% if errorMessages['favourite_card'][0] %} has_error {% endif %}"
                                id="favourite_card"
                                placeholder="card name"
                                value="{{ values['favourite_card'][0] }}">
                        <p class="error_message">{{ errorMessages['favourite_card'][0] }}
                    </div>
                    <input type="hidden" name="login_try" value="1">
                    <div class="form-group row">
                        <label for="nickname" class="col col-form-label title_colorless">nick name:</label>
                        <input
                                type="text"
                                name="nickname"
                                class="form-control {% if errorMessages['nickname'][0] %} has_error {% endif %}"
                                id="nickname"
                                placeholder="kitty =^.^="
                                value="{{ values['nickname'][0] }}">
                        <p class="error_message">{{ errorMessages['nickname'][0] }}</p>
                    </div>
                    <div class="form-group row">
                        <label for="newPassword" class="col col-form-label title_colorless">Enter New Password:</label>
                        <input
                                type="password"
                                name="password"
                                class="form-control {% if errorMessages['password'][0] %} has_error {% endif %}"
                                id="newPassword"
                                placeholder="New Password">
                        <p class="error_message">{{ errorMessages['password'][0] }} <br> {{ errorMessages['generalError'][0] }}</p>
                    </div>
                    <div class="row justify-content-center">
                        <button type="submit" class="btn_1 btn btn_send btn-outline-primary">Send</button>
                    </div>
                </form>

                <button class="btn btn_1 btn-outline-success">
                    <a class="nav-link" href="index?p=login">Login</a>
                </button>
                <br>
                <button class="btn btn_1 btn-outline-secondary">
                    <a class="nav-link" href="index?p=register">Register</a>
                </button>

            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script src="js/login/forgotPw.js"></script>
{% endblock %}
