{% extends 'layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block info %}
    {% for info in infos %}
        {{ info }}
    {% endfor %}
{% endblock %}

{#  {% if data['content'] %}
      {{ data['content'] }}
  {% endif %}#}

{% block content %}

    <div class="container login">
        <div class="row justify-content-between">
            <div class="col-1 col-md-1 login__space_register">

            </div>
            <div class="col-11 col-lg-11 login__register">
                <form id="register__form" action="index.php?p=register" method="POST">
                    <div class="row justify-content-between">
                        <div class="col">
                            <h2>New Register</h2>
                        </div>
                        <div class="col-2">
                            <img src="img/green.png" class="login__img" alt="image tree green">
                        </div>
                    </div>
                    <input type="hidden" name="register" value="1">
                    <div class="form-group row">
                        <label for="name" class="col col-form-label title_colorless">name:</label>
                        <input
                                type="text"
                                name="name"
                                class="form-control name_has_error {% if errorMessages['name'][0] %} has_error {% endif %}"
                                id="name"
                                placeholder="kate"
                                value="{{ values['name'][0] }}">
                        <p class="error_message error_name">{{ errorMessages['name'][0] }}</p>
                    </div>
                    <input type="hidden" name="login_try" value="1">
                    <div class="form-group row">
                        <label for="favourite_card" class="col col-form-label title_colorless">favorite card: (fantasy cards allowed)</label>
                        <input
                                type="text"
                                name="favourite_card"
                                class="form-control favourite_card_has_error {% if errorMessages['favourite_card'][0] %} has_error {% endif %}"
                                id="favourite_card"
                                placeholder="card name"
                                value="{{ values['favourite_card'][0] }}">
                        <p class="error_message error_favourite_card">{{ errorMessages['favourite_card'][0] }}</p>
                    </div>
                    <input type="hidden" name="login_try" value="1">
                    <div class="form-group row">
                        <label for="nickname" class="col col-form-label title_colorless">nick name:</label>
                        <input
                                type="text"
                                name="nickname"
                                class="form-control nickname_has_error {% if errorMessages['nickname'][0] %} has_error {% endif %}"
                                id="nickname"
                                placeholder="kitty =^.^="
                                value="{{ values['nickname'][0] }}">
                        <p class="error_message error_nickname">{{ errorMessages['nickname'][0] }}</p>
                    </div>
                    <div class="form-group row">
                        <label for="newPassword" class="col col-form-label title_colorless">Password:</label>
                        <input
                                type="password"
                                name="password"
                                class="form-control password_has_error {% if errorMessages['password'][0] %} has_error {% endif %}"
                                id="newPassword"
                                placeholder="Password">
                        <p class="error_message error_password">{{ errorMessages['password'][0] }}</p>
                    </div>
                    <div class="row justify-content-center">
                        <button id="register__submit" type="submit" class="btn_1 btn btn_send btn-outline-primary">Send</button>
                    </div>
                </form>

            <button class="btn btn_1 btn-outline-success">
                <a class="nav-link" href="index?p=login">Login</a>
            </button>
            <br>
            <button class="btn btn_1 btn-outline-info">
                <a class="nav-link" href="index?p=forgotPw">Forgot password!</a>
            </button>

        </div>
    </div>
</div>


{% endblock %}

{% block javascripts %}
    <script src="js/login/register.js"></script>
{% endblock %}
