

{% extends 'layout.html.twig' %}

{% block title %}Build Deck{% endblock %}

{% block info %}
    {% for info in infos %}
        {{ info }}
    {% endfor %}
{% endblock %}

{% block h1 %}
    Build Deck
{% endblock %}


{% block content %}
    <div class="container create__deck">
        <div class="row">
            <div class="col-1 col-md-1 login__space">

            </div>
            <div class="col-11">

                <form id="new__deck_form" action="index.php?p=addDecks" class="create__deck_form" method="POST">
                    <input type="hidden" name="addDecks" value="1">
                    <div class="form-group row">
                        <label for="deck_name" class="col col-form-label title_colorless">Deck name:</label>
                        <input
                                type="text"
                                name="deck_name"
                                class="form-control"
                                id="deck_name"
                                placeholder="Destroyer"
                                value="{{ values['deck_name'][0] }}">
                        <p class="error_message">{{ errorMessages['deck_name'][0] }}</p>
                    </div>
                    <div class="checkbox color__picker">
                        <p class="title_colorless">decide Deck colors: </p>
                        {% for color in colors[0] %}
                            <label>
                                <input type="checkbox" name="color[]" value="{{ color['id'] }}">
                                {{ color['color'] }}
                            </label><br>
                        {% endfor %}
                    </div>
                    <p class="error_message">{{ errorMessages['color'][0] }}</p>

                    <label for="legality" class="title_colorless">decide Deck format:</label>
                    <select id="legality" name="format">
                        {% for format in formats[0] %}
                            <option value="{{ format['id'] }}" name="format[]">{{ format['format'] }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn_1 btn_send btn-outline-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="js/deckNewMask.js"></script>
{% endblock %}
