
{% extends 'layout.html.twig' %}

{% block title %}Decks{% endblock %}

{% block info %}
    {% for info in infos %}
        {{ info }}
    {% endfor %}
{% endblock %}

{% block h1 %}
   Your Decks
{% endblock %}

{% block content %}
    <div class="container filter_deck">
        <form action="index.php?p=decks&method=search_own" id="search__form">
            <div class="row justify-content-around">
                <div class="col-12 col-md-6">
                    <p class="title_colorless">colors:</p>
                    <div class="checkbox color__picker">
                        {% for color in colors[0] %}
                            <label class="btn btn-outline-primary">
                                <input type="checkbox" class="btn-check" autocomplete="off" name="color[]" value="{{ color['id'] }}">
                                {{ color['color'] }}
                            </label><br>
                        {% endfor %}
                    </div>
                    <label for="format" class="title_colorless">Deck format:</label>
                    <select id="format" name="format">
                        <option value="0">all</option>
                        {% for format in formats[0] %}
                            <option value="{{ format['id'] }}" name="format[]">{{ format['format'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12 col-md-6">
                    <input class="form-control mr-sm-2" name="search_text" type="search" placeholder="deck name" aria-label="search">
                    <button class="btn btn_1 btn-outline-success" type="submit">search Decks</button>
                </div>
            </div>
        </form>
        <div>
            <p>Found <span class="title_warn" id="search__count"> {{ decks_count[0] }} </span> Decks</p>
        </div>
    </div>
    <div class="container decks">
        <div class="row" id="search__result">
            {% for deck in decks %}
                <div class="col-12 col-md-6 col-lg-4">
                    <article class=" decks__deck">
                        <div class="row justify-content-between">
                            <div class="col">
                                <h2>{{ deck['name'][0]|raw }}</h2>
                            </div>
                            <div class="col">
                                <button class="btn btn_1 btn-outline-success" name="show_deck" value="{{ deck['id'][0] }}">&#8599;</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img class="decks__img img-fluid" src="{{ deck['image_uris'][0] }}" alt="image from this magic deck">
                            </div>
                            <div class="col">
                                <div class="decks__text">
                                    <p>format:  {{ deck['format'][0] }}</p>
                                    {% for color in deck['colors'] %}
                                        <img class="color__img img-fluid" src="img/{% if color %}{{ color }}{% else %}nocolor{% endif %}.png" alt="image from the color {{ color }}">
                                    {% endfor %}
                                    <p>created By:<br>
                                        <span class="title_colorless">{{ deck['nickname'][0]|raw }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="js/searchDecks.js"></script>
{% endblock %}
