

    <div class="container deck__single">
        <div class="row">
            {% for deck in decks %}

                <div class="col">
                    <div class="row justify-content-between">
                        <div class="col">
                            <h2>{{ deck['name'][0] }}</h2>
                        </div>
                        <div class="col col-md-2">
                            <button name="close" class="btn btn_1 btn-outline-secondary">close</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <p> <span class="title_colorless">format:</span> {{ deck['format'][0] }}</p>
                        </div>
                        <div class="col-12 col-md-12 col-lg-4">
                            <p class="title_colorless">colors:</p>
                            {% for color in deck['colors'] %}
                                <img class="color__img img-fluid" src="img/{% if color %}{{ color }}{% else %}nocolor{% endif %}.png" alt="image from the color {{ color }}">
                            {% endfor %}
                        </div>
                        <div class="col">
                            <p>created By: <span class="title_colorless">{{ deck['nickname'][0] }}</span></p>
                        </div>
                        <div class="col">
                            <p>{{ deckCountCards[0] }} cards</p>
                        </div>
                    </div>
                        <p class="title_colorless">Description:</p>
                        <p>{{ deck['description'][0] }}</p>
                </div>

            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <h2>Cards</h2>
            </div>
        </div>
        <div class="row deck__single_cards">
            {% for  card in cards %}
                <div class="col-6 col-lg-4">
                    <article>
                        <div class="row">
                            <div class="col">
                                <p class="cards__many_cards_title">{{ card['name'][0] }}</p>
                            </div>
                        </div>
                        <img class="cards__many_cards_img img-fluid" src="{{ card['image_uris'][0] }}" alt="card of this magic deck">
                        {% if deckId[0] %}
                            <button name="delete" type="button"
                                    class="btn btn_1 btn_delete btn-outline-info"
                                    data-card="{{ card['id'][0] }}"
                                    data-deck="{{ deckId[0] }}">x
                            </button>
                        {% endif %}
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>


