{% extends 'layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block info %}
    {% for info in infos %}
        {{ info }}
    {% endfor %}
{% endblock %}


{% block h1 %}{{ parent() }} Home{% endblock %}

{% block content %}
    <div class="container filter_deck">
        <form action="index.php?p=home&method=search" id="search__form">
        <div class="row justify-content-around">
                <div class="col-12 col-md-5">

                    <div class="checkbox color__picker">
                        <p class="title_colorless">colors:</p>
                        {% for color in colors[0] %}
                            <label>
                            <input type="checkbox" name="color[]" value="{{ color['id'] }}">
                            {{ color['color'] }}
                            </label><br>
                        {% endfor %}

                    </div>

                    <label for="format" class="title_colorless">Deck format:</label>
                    <select id="format" name="format">
                        <option value="0">all</option>
                        {% for format in formats[0] %}
                            <option value="{{ format['id'] }}" name="format[]">{{ format['format'] }}</option>
                        {% endfor %}
                    </select>

                </div>
                <div class="col-12 col-md-5">
                        <input class="form-control mr-sm-2" name="search_text" type="search" placeholder="deck name" aria-label="search">
                        <button class="btn btn_1 btn-outline-success my-2 my-sm-0" type="submit">search</button>
                </div>
        </div>
    </form>
        <div class="title_colorless">
            <p>Found <span class="title_warn" id="search__count"> {{ decks_count[0] }} </span> Decks</p>
        </div>
    </div>

    <div class="container decks">
        <div class="row" id="search__result">
            {% for deck in decks %}

                <article class="col-12 col-md-6 col-lg-4 decks__deck">
                    <img class="decks__img img-fluid" src="{{ deck['image_uris'][0] }}" alt="image magic deck card">

                    <div class="decks__text">
                        <h2>{{ deck['name'][0] }}</h2>
                        <p>format: {{ deck['format'][0] }}</p>
                        {% for color in deck['colors'] %}
                            <img class="color__img img-fluid" src="img/{% if color %}{{ color }}{% else %}nocolor{% endif %}.png" alt="image from the color {{ color }}">
                        {% endfor %}
                        <p>created By:<br>
                            <span class="title_colorless">{{ deck['nickname'][0] }}</span></p>
                        <button class="btn btn_1 btn-outline-success" name="show_deck" value="{{ deck['id'][0] }}">Open</button>
                    </div>
                </article>

            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="js/showHomeDecks.js"></script>
{% endblock %}
